<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homa.mappers.reportMapper">
   	
   	<!-- 작성 -->
    <insert id="regist">
     insert into report(rp_num,fb_num,rp_content,userId,rp_reportId,rp_date,userName)
     	values(report_rp_num.nextval,#{fb_num},#{rp_content},#{userId},#{rp_reportId},sysdate,#{userName})
    </insert>
    
</mapper>